<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
</head>
<body>
    <h1>Booking Confirmation</h1>

    <p>Your booking has been confirmed. Thank you!</p>

    <button id="back-to-home">Back to Home Page</button>

    <script>
        document.getElementById("back-to-home").addEventListener("click", function() {
            window.location.href = "/";
        });
    </script>
</body>
</html>
